html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;  
}

body {
  margin-bottom: 60px;
  font-family: Calibre-Regular, sans-serif;
  font-size: 1.6rem;
}

#foto-perfil {
    width: 150px;
    margin-top: 1rem;
    border-radius: 50%;
    border: 2px solid black;    
}

div {
    border: 1px solid black;
}

.hero {
    font-family: Calibre-SemiBold,sans-serif;
}

.name-container {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.name-container span {
    font-size: 8rem;
    text-transform: capitalize;
    font-family: Calibre-SemiBold, sans-serif;
    text-shadow: 0 15px 15px rgba(0,0,0,.16);
}

.heading-4, .heading-5 {
    text-transform: uppercase;
}

.heading-4 {
    font-size: 2rem;
    letter-spacing: 5px;
}

.heading-5 {
    font-size: 1.5rem;
    letter-spacing: 3px;
}

.paragraph {
    font-size: 1.8rem;
    color: #756c6c;
}