
@{
    ViewData["Title"] = "Home Page";
}

<div class="col justify-content-start m-5 hero">
    <h4 class="heading-5">Hola 👋, soy</h4>
    <div class="name-container">
        <span>Ali</span> 😊
    </div>

    <h4 class="heading-4">
        Desarrollador de software
    </h4>
    <p class="paragraph">
        "C# ■ ASP.Net Core ■ Entity Framework Core ■ SQL Server ■ PHP ■ MySQL ■ JavaScript"
    </p>
</div>

<div class="col">
<div class="row justify-content-center text-center bg-primary">
    <div class="col col-md-7">
        <h1 class="pt-5 pb-5">Mi portafolio</h1>
        <p class="align-text">Desarrollo </p>
    </div>
</div>
<div class="row">
    <a href="https://10fastfingers.com/typing-test/spanish">
        <img src="http://img.10fastfingers.com/badge/typing-test_5_BD.png" alt="Typing Test" /></a>
        <p>Visit the <a href="https://10fastfingers.com/typing-test/spanish">Typing Test</a> and try!</p>
</div>
</div>


